/* Make Footer Reach Bottom */
html,
body {
    height: 100%;
    line-height: 170%;
    letter-spacing: 1px;
}

a {
    color: #2b353e;
    text-decoration: none;
}

body {
    color: #2b353e;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

img {
    border-radius: 12px;
}

iframe {
    overflow: hidden;
}

section {
    margin-bottom: 120px;
}

/* Custom Buttons */

.btn {
    border-radius: 60px;
    font-weight: 600;
    padding: 14px 42px;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    background-color: #ff5656 !important;
    color: #fff;
    border: none;
}

.buy-button {
    width: 100%;
}

.carousel img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.cat-div {
    width: 400px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-menu {
    border: none;
}

.hero-btn-primary {
    background-color: #fff;
    color: #2b353e;
}

.hero-btn-ghost {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.hero-btn-ghost:hover {
    color: #fff;
}
/* */

.hero-row {
    color: #fff;
    height: 600px;
    padding-top: 300px;
}

.hero-section {
    height: 100vh;
    background-image: url('/img/hero-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero-section h1 {
    font-size: 75px;
    font-weight: 600;
}

.image-selector {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.logo {
    width: 160px;
}

.main-images img {
    border-radius: 12px;
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.main-section .row {
    margin-bottom: 120px;
}

.navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.navbar-second {
    position: static;
}

.navbar-second a {
    color: #2b353e !important;
}

.navbar a {
    color: #fff;
    font-weight: 600;
}

.nav-link:focus,
.nav-link:hover {
    color: #2b353e;
}

.resort-img-col {
    background-image: url('https://images.unsplash.com/photo-1616001944599-9b79f0d6b1c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=635&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.site-footer {
    background-color: #f6f7f8;
    padding: 20px 0;
    position: sticky;
    top: 100%;
    margin-top: 200px;
}

.spacer-block {
    background-color: #ff5656;
    width: 70px;
    height: 5px;
}

.top-resorts-col {
    background-color: #f6f7f8;
    padding: 50px;
}

.top-resorts-img {
    border-radius: 0;
}

.dropdown-item {
    color: #2b353e !important;
}

/********************************************************************/

a:hover {
    opacity: 0.8;
    color: #ff5656 !important;
}

.image-selector:hover {
    filter: brightness(70%);
}

/* .main-images img:hover {
    position: relative;
    bottom: 20px;
} */

.location {
    border-bottom: 2px solid transparent;
}

.location:hover {
    border-bottom: 2px solid #ff5656;
    transition: all 0.3s ease;
}

.nav-reserve-button button {
    background-color: #ff5656;
    color: #fff;
    font-weight: 700;
    padding: 5px 20px;
    border: 3px solid #ff5656;
    border-radius: 24px;
    height: 40px;
    transition: all 0.25s ease 0s;
    margin-left: 10px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .nav-reserve-button {
        display: none;
    }
}
